<h1>New bookmark</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
<%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.input :comment %>
  <%= f.association :movie %>

  <%= f.submit "Submit bookmark", class: "btn btn-primary" %>
<% end %>
